html
    head
        meta(charset='utf-8')
        meta(name=viewport, content="width=device-width")
        script(src="vendor/jquery-3.1.1.min.js")
        script(src="vendor/semantic.min.js")
        script(src="vendor/lzma.js")
        script(src="vendor/base64.js")
        script(src="vendor/protobuf.js")
        link(rel="stylesheet", href="vendor/semantic.min.css")
        link(rel="stylesheet", href="vendor/vue-tour.css")
        link(rel="stylesheet", href="style.css")
    body
        div#app
            component-modal(
                v-if="current",
                v-bind:components="components",
                v-on:set_component="set_component"
              )
            talent-modal(
              v-if="current",
              v-bind:talents="talents",
              v-bind:job_talents="job_talents",
              v-on:set_talent="set_talent",
            )
            craft-modal(
              v-if="current",
              v-bind:crafts="crafts"
              v-on:set_craft="set_craft"
              v-on:add_craft="add_craft"
            )

            div
            .ui.menu
                #test.header.item STFX
                .active.item #[a(v-on:click='stfx_export()') Copy]
            include includes/total_view.pug

            sui-tab#tabs
                sui-tab-pane(title='Ship')
                    #tour-step-1
                      sui-dropdown(fluid, placeholder="Ships" search selection, :options="ships_dropdown", v-model="current_id")
                    include includes/ship_view.pug
                sui-tab-pane(title='Captain')
                    include includes/captain_view.pug
                sui-tab-pane(title='Crew')
                    include includes/crew_view.pug


script(src="build.js")
