.componentcard {
    overflow: hidden;
    font-size: smaller;
    text-overflow: ellipsis;
    max-width: 100px !important;
    white-space: nowrap;
    cursor: pointer;
}
.componentcard > .content {
    font-size:x-small !important;
    text-align: center !important;
}

.crewcard {
    max-width: 150px !important;
}

.officercard {
    max-width: 200px !important;
}
.crewcard > .image  {
    background-color: #1f262d !important;
    object-fit: scale-down !important;
}

.crewcard > .content {
    font-size:x-small !important;
    text-align: center !important;
}

.componentitem {
    padding: 0 !important;
    cursor: pointer;
}

.componentitem.current {
    background-color: rgb(240,240,240) !important;
}

.red {
    color: red !important;
}
.navy {
    background-color: #1f262d !important;
    color: white !important;
}

td.navy:hover {
    background-color: #2f364d !important;
}
td.navy {
    border-color:rgba(255,255,255,0.1) !important;
    cursor: pointer;
}

th.navy {
    border-color:rgba(255,255,255,0.1) !important;
}
