mixin component_td(attr)
    td
        span= `{{data.${attr}}}`
        small(v-if=`data.component.${attr}`)= ` ({{data.component.${attr}}})`
script(type="text/x-template")#component-table
    table.ui.celled.table.compact
        thead
            tr
                th.two.wide.navy Component
                th(v-on:click="sortBy('mass')") 
                    img(:src="img_get_prop('mass')")
                th 
                    img(:src="img_get_prop('pilot')")
                th 
                    img(:src="img_get_prop('shipops')")
                th 
                    img(:src="img_get_prop('electronics')")
                th 
                    img(:src="img_get_prop('navigation')")
                th 
                    img(:src="img_get_prop('gunnery')")
                th 
                    img(:src="img_get_prop('officer')")
                th 
                    img(:src="img_get_prop('armor')")
                th 
                    img(:src="img_get_prop('shield')")
                th 
                    img(:src="img_get_prop('starport')")
                th 
                    img(:src="img_get_prop('credits')")
        tbody
            tr(v-for="data in component_rolling_stats")
                td.ui.navy(@click="open_component_modal(data)")
                    img(:src="img_get_component(data.component)").ui.mini.image.middle.aligned
                    span {{data.component.name}}
                +component_td("mass")
                +component_td('skill_pilot')
                +component_td('skill_shipops')
                +component_td('skill_electronics')
                +component_td('skill_navigation')
                +component_td('skill_gunnery')
                +component_td('officers')
                +component_td('armor')
                +component_td('shield')
                +component_td('jump_cost')
                +component_td('install_cost')
