div.ui.grid(v-if="current")
    .row
        h5.header Crew
    .row
        crew-wizard(v-bind:ship_stats="ship_stats", v-bind:crew="crew", v-bind:jobs="jobs")
        crew-table(v-bind:crew="crew" v-if="crew", v-bind:jobs="jobs")
