script(type="text/x-template")#crew-table
    table.ui.celled.table.compact
        thead
            tr
                th.two.wide
                    span Job
                th Level
                th.five.wide Talents
                th Pilot
                th Ship Ops
                th Repair
                th gunnery
                th Electronics
                th Navigation

                th Doctor
                th Command
                th Negotiate
                th Intimidate
                th Explore
        tbody
            tr(v-for="crewman in crew")
                td.ui.navy
                    img(:src="img_get_job(crewman.job)").ui.mini.image.middle.aligned
                    span {{crewman.job.name}}
                td {{crewman.level}}
                td
                td {{crew_get_skill(crewman, 'pilot')}}
                td {{crew_get_skill(crewman, 'shipops')}}
                td {{crew_get_skill(crewman, 'repair')}}
                td {{crew_get_skill(crewman, 'gunnery')}}
                td {{crew_get_skill(crewman, 'electronics')}}
                td {{crew_get_skill(crewman, 'navigation')}}
                td {{crew_get_skill(crewman, 'doctor')}}
                td {{crew_get_skill(crewman, 'command')}}
                td {{crew_get_skill(crewman, 'negotiate')}}
                td {{crew_get_skill(crewman, 'intimidate')}}
                td {{crew_get_skill(crewman, 'explore')}}
