div(v-if="renderShip")
    h3.ui.header Large components
    div.ui.cards
        component-card(
            v-for="slot in current_large_slots"
            v-bind:cslot="slot",
            :key="slot.id")
    h3.ui.header Medium components
    div.ui.cards
        component-card(
            v-for="slot in current_medium_slots"
            v-bind:cslot="slot",
            :key="slot.id")
    h3.ui.header Small components
    div.ui.cards
        component-card(
            v-for="slot in current_small_slots"
            v-bind:cslot="slot",
            :key="slot.id")
component-table(v-bind:current="current" v-if="renderShip")
