div(v-if="renderShip")#components
    h3.ui.header Crafts
    div.ui.cards
        craft-card(
            v-for="craft in current_crafts"
            v-bind:cslot="craft",
            :key="craft.id")
        add-craft-card
    h3.ui.header Large components
    div.ui.cards
        component-card(
            v-for="slot in current_large_slots"
            v-bind:cslot="slot",
            :key="slot.id")
    h3.ui.header Medium components
    div.ui.cards
        component-card(
            v-for="slot in current_medium_slots"
            v-bind:cslot="slot",
            :key="slot.id")
    h3.ui.header Small components
    div.ui.cards
        component-card(
            v-for="slot in current_small_slots"
            v-bind:cslot="slot",
            :key="slot.id")
component-table(v-bind:current="current" v-if="renderShip")
